.mobile-dropdown {
    position: relative;
    animation: drop 200ms both;
}

.sub-drop-wrapper {

    &:hover {

        .sub-drop {
            display: flex;
        }
    }
}

@keyframes drop {
    from {
        top: 2rem;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}